In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("general_data.csv")

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [5]:
from scipy.stats import chi2_contingency

In [6]:
dataset2=dataset.dropna()

In [7]:
dataset2.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

## Testing Attrition and Age variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and Age.
2. H1 : There is a dependency between Attrition and Age.

In [8]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.Age)
print(chitable)

Age        18  19  20  21  22  23  24  25  26   27  ...  51  52  53  54  55  \
Attrition                                           ...
No         12   9  15  21  32  30  57  60  80  134  ...  51  44  51  54  57
Yes        11  18  18  18  15  12  21  18  36    9  ...   6   9   6   0   9

Age        56  57  58  59  60
Attrition
No         32  12  27  30  15
Yes         9   0  15   0   0

[2 rows x 43 columns]

In [9]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 352.3011830696416   and   p= 1.20869585240706e-50
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and BusinessTravel variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and BusinessTravel.
2. H1 : There is a dependency between Attrition and BusinessTravel.

In [10]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.BusinessTravel)
print(chitable)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [11]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 70.07594084831366   and   p= 6.07019702736392e-16
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and Department variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and Department.
2. H1 : There is a dependency between Attrition and Department.

In [12]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.Department)
print(chitable)

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [13]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 25.89432541916022   and   p= 2.382970570769315e-06
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and DistanceFromHome variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and Department.
2. H1 : There is a dependency between Attrition and Department.

In [14]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.DistanceFromHome)
print(chitable)

DistanceFromHome   1    2    3    4    5    6    7    8    9    10  ...  20  \
Attrition                                                           ...
No                528  513  219  158  162  156  204  206  218  198  ...  65
Yes                94  114   29   32   30   21   48   33   35   60  ...   9

DistanceFromHome  21  22  23  24  25  26  27  28  29
Attrition
No                48  48  68  75  69  72  27  56  69
Yes                6   9  12   9   6   3   9  11  12

[2 rows x 29 columns]

In [15]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 103.09280258300478   and   p= 1.5872525392897128e-10
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and Education variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and Education.
2. H1 : There is a dependency between Attrition and Education.

In [16]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.Education)
print(chitable)

Education    1    2     3     4    5
Attrition
No         430  683  1438  1003  123
Yes         78  159   263   185   20

In [17]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 6.2735361781270615   and   p= 0.17963050984273224
p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)

## Testing Attrition and EducationField variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and EducationField.
2. H1 : There is a dependency between Attrition and EducationField.

In [18]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.EducationField)
print(chitable)

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
No                           48           1505        400     1163    214
Yes                          32            301         75      222     30

EducationField  Technical Degree
Attrition
No                           347
Yes                           45

In [19]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 43.132860148900384   and   p= 3.472896220587872e-08
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and Gender variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and Gender.
2. H1 : There is a dependency between Attrition and Gender.

In [20]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.Gender)
print(chitable)

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [21]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 1.3825823839528295   and   p= 0.23966176275638887
p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)

## Testing Attrition and JobLevel variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and JobLevel.
2. H1 : There is a dependency between Attrition and JobLevel.

In [22]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.JobLevel)
print(chitable)

JobLevel      1     2    3    4    5
Attrition
No         1369  1307  555  267  179
Yes         250   283   96   51   25

In [23]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 7.036480574687178   and   p= 0.13397290697032432
p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)

## Testing Attrition and JobRole variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and JobRole.
2. H1 : There is a dependency between Attrition and JobRole.

In [24]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.JobRole)
print(chitable)

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
No                               333              135                    648
Yes                               56               21                    125

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
No             263                     381                183
Yes             42                      48                 54

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
No                        714              810                   210
Yes                       158              165                    36

In [25]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 21.893724958847   and   p= 0.005116592717526599
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and MaritalStatus variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and MaritalStatus.
2. H1 : There is a dependency between Attrition and MaritalStatus.

In [26]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.MaritalStatus)
print(chitable)

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [27]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 133.85785802925156   and   p= 8.573051828219379e-30
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and MonthlyIncome  variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and MonthlyIncome.
2. H1 : There is a dependency between Attrition and MonthlyIncome.

In [30]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.MonthlyIncome)
print(chitable)

MonthlyIncome  10090   10510   10520   10810   10910   11020   11180   11290   \
Attrition
No                  0       3       3       3       3       3       3       0
Yes                 3       0       0       0       0       0       0       3

MonthlyIncome  12000   12230   ...  197170  197400  198330  198450  198470  \
Attrition                      ...
No                  3       3  ...       3       3       3       3       3
Yes                 0       0  ...       0       0       0       0       0

MonthlyIncome  198590  199260  199430  199730  199990
Attrition
No                  0       3       3       3       3
Yes                 3       0       0       0       0

[2 rows x 1349 columns]

In [31]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 4006.81847073142   and   p= 2.581841223898078e-261
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and NumCompaniesWorked variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and NumCompaniesWorked.
2. H1 : There is a dependency between Attrition and  NumCompaniesWorked.

In [32]:
chitable=pd.crosstab(dataset2.Attrition,dataset2. NumCompaniesWorked)
print(chitable)

NumCompaniesWorked  0.0   1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
Attrition
No                  515  1264  390  426  364  141  160  168  129  120
Yes                  69   292   48   48   49   46   48   51   18   36

In [33]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 75.85546138415296   and   p= 1.0708854426925246e-12
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and PercentSalaryHike variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and PercentSalaryHike.
2. H1 : There is a dependency between Attrition and PercentSalaryHike.

In [34]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.PercentSalaryHike)
print(chitable)

PercentSalaryHike   11   12   13   14   15   16   17   18   19   20   21   22  \
Attrition
No                 538  502  522  510  239  202  199  227  186  138  115  138
Yes                 90   89  100   87   63   29   43   39   42   27   27   30

PercentSalaryHike  23  24  25
Attrition
No                 68  54  39
Yes                15   9  15

In [35]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 19.132665173042696   and   p= 0.15994173676121282
p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)

## Testing Attrition and StockOptionLevel variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and StockOptionLevel.
2. H1 : There is a dependency between Attrition and StockOptionLevel.

In [36]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.StockOptionLevel)
print(chitable)

StockOptionLevel     0     1    2    3
Attrition
No                1564  1509  388  216
Yes                316   267   84   38

In [37]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 3.444801419724394   and   p= 0.32799207189761653
p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)

## Testing Attrition and TotalWorkingYears variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and TotalWorkingYears.
2. H1 : There is a dependency between Attrition and TotalWorkingYears.

In [38]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.TotalWorkingYears)
print(chitable)

TotalWorkingYears  0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   \
Attrition
No                   18   122    66    99   152   214   307   189   259   255
Yes                  14   119    27    27    36    48    65    52    47    30

TotalWorkingYears  ...  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  \
Attrition          ...
No                 ...    21    24    27    18    12     9    18    12     3
Yes                ...     0     3     0     3     3     0     0     0     0

TotalWorkingYears  40.0
Attrition
No                    0
Yes                   6

[2 rows x 40 columns]

In [39]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 360.55237130857233   and   p= 1.1111356799847907e-53
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and TrainingTimesLastYear variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and TrainingTimesLastYear.
2. H1 : There is a dependency between Attrition and TrainingTimesLastYear.

In [40]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.TrainingTimesLastYear)
print(chitable)

TrainingTimesLastYear    0    1     2     3    4    5    6
Attrition
No                     132  183  1351  1208  318  303  182
Yes                     30   29   278   258   47   51   12

In [41]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 22.87287815507605   and   p= 0.000840192196419255
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and YearsAtCompany variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and YearsAtCompany.
2. H1 : There is a dependency between Attrition and YearsAtCompany.

In [42]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.YearsAtCompany)
print(chitable)

YearsAtCompany  0    1    2    3    4    5    6    7    8    9   ...  27  29  \
Attrition                                                        ...
No              84  333  300  322  272  521  200  235  212  219  ...   6   6
Yes             47  176   81   59   56   61   27   33   27   24  ...   0   0

YearsAtCompany  30  31  32  33  34  36  37  40
Attrition
No               3   6   6  12   3   6   3   0
Yes              0   3   3   3   0   0   0   3

[2 rows x 37 columns]

In [43]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 284.1905063085053   and   p= 2.434867576146702e-40
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and YearsSinceLastPromotion variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and YearsSinceLastPromotion.
2. H1 : There is a dependency between Attrition and YearsSinceLastPromotion.

In [45]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.YearsSinceLastPromotion)
print(chitable)

YearsSinceLastPromotion    0    1    2    3    4    5   6    7   8   9   10  \
Attrition
No                       1405  916  396  128  166  129  77  179  54  39  15
Yes                       325  146   81   27   15    6  18   48   0  12   3

YearsSinceLastPromotion  11  12  13  14  15
Attrition
No                       65  30  24  24  30
Yes                       6   0   6   3   9

In [46]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 64.22958433145763   and   p= 4.66086831785978e-08
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)

## Testing Attrition and YearsWithCurrManager variables with chi square test
### Hypothesis:
1. H0 : There is no dependency between Attrition and YearsWithCurrManager.
2. H1 : There is a dependency between Attrition and YearsWithCurrManager.

In [48]:
chitable=pd.crosstab(dataset2.Attrition,dataset2.YearsWithCurrManager)
print(chitable)

YearsWithCurrManager   0    1    2    3    4   5   6    7    8    9   10  11  \
Attrition
No                    530  194  878  367  260  81  73  551  290  171  72  63
Yes                   252   33  149   55   33  12  12   93   30   18   9   3

YearsWithCurrManager  12  13  14  15  16  17
Attrition
No                    54  42   9  15   6  21
Yes                    0   0   6   0   0   0

In [49]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)
if (p<0.05):
    print("p is less than 0.05 .So we will the REJECT the null hypothesis(H0)");
elif (p>0.05):
    print("p is greater than 0.05 .So we will the ACCEPT the null hypothesis(H0)");

stats= 220.87460913849154   and   p= 1.7543020110084458e-37
p is less than 0.05 .So we will the REJECT the null hypothesis(H0)